@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

:root{
    --primary-blue: #2C77AD;
    --dark-grey: #B9B9B9;
    --light-grey: #F5F5F5;
    --green: #26B876;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}


nav div img{
    padding: 10px;
}

main{
    position: relative;
    height: auto;
}

main img{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.hero-text{
    position: absolute;
    width: 374px;
    height: 153px;
    left: 63px;
    top: 149px;
    color: #FFFFFF;
}

.hero-text h1{
    font-size: 40px;
}

.hero-text p{
    font-size: 20px;
    margin-top: 10px;
}

.btn-full {
    position: absolute;
    top: 400px;
    bottom: 0;
    left: 63px;
    border-radius: 8px;
    background-color: #26B876;
    box-shadow: none;
    width: 165px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-text {
    display: inline-block;
    text-align: center;
}

.search-section{
    position: absolute;
    width: 1440px;
    height: 447px;
    left: 0px;
    top: 649px;
    background: var(--light-grey);
}

.search-text{
    position: absolute;
    width: 591px;
    height: 79px;
    left: 450px;
    top: 50px;
}

.search-text h1{
    font-size: 30px;
    font-weight: 300;
}

.search-text p{
    font-size: 15px;
    font-weight: 300;
}

.search-form{
    position: absolute;
    width: 586px;
    height: 55px;
    left: 427px;
    top: 200px;
    background: white;
    border-radius: 26px;
}

.search-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.products-div{
    position: absolute;
    width: 1440px;
    height: 1000px;
    left: 0px;
    top: 1096px;
    background: white;
}

.products-div h1{
    font-size: 31px;
    margin-top: 50px;
    margin-left: 44px;
    font-weight: 300;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.brand{
    background: #2c77ad !important;
}
.brand-text{
    color: #2c77ad !important;
    position: relative;
}

.page-footer{
    background: #2c77ad !important;
    width: 100%;
}

.login-card{
    width: 400px;
    margin-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.account-have{
    font-size: 12px; 
    margin-top: 10px; 
    display: block; 
    padding: 30px;
}

.form-names{
    display: flex !important;
    justify-content: space-between;
    column-gap: 10px;
}

.login-button{
    margin: 0px !important;
    color: #2c77ad !important;
}

