@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

nav div img{
    padding: 10px;
}

main{
    position: relative;
}

.hero img{
    position: absolute;
    width: 1440px;
    height: 588px;
    left: 0px;
    top: 40px;
}

.hero-text{
    position: absolute;
    width: 374px;
    height: 153px;
    left: 63px;
    top: 149px;
    color: #FFFFFF;
}

.hero-text h1{
    font-size: 40px;
}

.hero-text p{
    font-size: 20px;
    margin-top: 10px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.brand{
    background: #2c77ad !important;
}
.brand-text{
    color: #2c77ad !important;
    position: relative;
}

.page-footer{
    background: #2c77ad !important;
    width: 100%;
}

.login-card{
    width: 400px;
    margin-top: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.account-have{
    font-size: 12px; 
    margin-top: 10px; 
    display: block; 
    padding: 30px;
}

.form-names{
    display: flex !important;
    justify-content: space-between;
    column-gap: 10px;
}

.login-button{
    margin: 0px !important;
    color: #2c77ad !important;
}

