body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.brand{
    background: #2c77ad !important;
}
.brand-text{
    color: #2c77ad !important;
    position: relative;
}

.brand-logo{
    margin-left: 10px;
}

.page-footer{
    background: #2c77ad !important;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.login-card{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-button{
    margin: 0px !important;
    color: #2c77ad !important;
}

form{
    margin-top: 50px !important;
}

