html,
body {
  height: 100%;
}

.flex-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
justify-content: space-between;
}

.flex-item1 {
  flex: 0 0 auto;
}

.flex-item2 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.login-card {
    margin-top: auto;
    margin-bottom: auto;
  }

.flex-item3 {
  flex: 0 0 auto;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
